/.settings
/.project
*.o
*.so
.project
.pydevproject
*.DS_Store
*.Rcheck/
*.tar.gz
/TODO
/autom4te.cache/
configure.win.temp
src/Makevars.win.temp
src/.settings
src/.cproject
src/.project
src/.externalToolBuilders
inst/web
.Rproj.user
.Rhistory
config.log
config.status
src/Makevars