/* Custom container */

/* Replaced with normal container and standard footer */
/*.container-narrow {
  margin: 0 auto;
  max-width: 700px; }

.container-narrow > hr {
  margin: 30px 0; }
*/

/* Replaced with standard BS3 Navbar */
/*.navbar .nav {
  float: right; }*/

/* Jekyll Bootstrap Colors 
h1, h2, h3, h4 {
  color: #f22430;
}*/

h1, h2, h3, h4 {
  font-family: 'Roboto Condensed';
}

h1 {
  
}

body {
  font-family: 'Roboto';
  font-size: 100%;
}

* {
	text-rendering: optimizeLegibility;
}


/*
#footer {
  background-color: #fdcd60;
}*/

.masthead {
    color:#FFFFFF;
    background-image:url("http://i.imgur.com/CtWlB0v.jpg?1");
    background-repeat:no-repeat;
    height:200px;
}

.date {
  color: #bdbdbd;
}

.header {
  top: 0px;
  padding-bottom: 10px;
  background-color: #0033CC;
  box-sizing: border-box;
  
}

.header-title {

  padding-top: 60px;
  padding-left: 20px;
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.header-subtitle {
  padding-left: 20px;
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #bdbdbd;
  padding-bottom: 5px;
}

.wrap {
  margin-top: 0px;
}

.navbar-default {
  background-color: #939393;

}

.headerimage {
  margin-left: 20px;
  margin-right: 20px;
  
}

a.headerlink { color: white; }

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }
  
.navbar-header {
  font-family: 'Droid Sans', sans-serif;
}

/* set a max-width for horizontal fluid layout and make it centered */
.container {
  max-width: 800px; 
}

.top-one {
     margin-top: 1cm;
  }
  
.social-buttons {
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	float: right;
}

.socialbuttons {
	padding-top: 0px;
	padding-right: 2px;
	padding-left: 2px;
	float: right;
}

